.light {
  h1,
  h2,
  p,
  div {
    color: #000000;
  }
  svg path {
    fill: #000000;
  }
  background-color: #caf4ff;
  .main {
    background-color: #ffffff;
    background-blend-mode: darken;
    .weather {
      .otherOptions {
        .option {
          border: 1px solid #000;
        }
      }
    }
    .forcasts {
      background-color: #fffbe1;
    }
  }
}
.dark {
  h1,
  h2,
  p,
  div {
    color: #fff;
  }
  svg path,
  svg polygon,
  svg circle {
    fill: #ffffff !important;
  }
  background-color: #1a1a1d;
  .main {
    background-color: #1c1c3c;
    background-blend-mode: overlay;
    .weather {
      .temps .top .degree .main-deg {
        color: #d468b5;
      }
      .otherOptions {
        .option {
          border: 1px solid #fff;
        }
      }
    }
    .forcasts {
      background-color: #4f1d41;
      .forcast .days .day {
        border: 1px solid #fff;
      }
    }
  }
  .load {
    border-bottom: 7px solid #4f1d41;
    border-top: 7px solid #4f1d41;
  }
}

.main {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  text-align: center;
  border-radius: 30px;
  overflow: hidden;
  gap: 20px;
  background-image: url("./clouds.png");
  transition: all 250ms ease-in-out;
  .weather,
  .forcast {
    padding: 20px;
  }

  .weather {
    width: 60%;
    .locate-info {
      display: flex;
      justify-content: space-between;
      font-weight: 600;
      .city {
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;
        form {
          position: absolute;
          bottom: -38px;
          input {
            text-transform: capitalize;
            border: 1px solid #000;
            border-radius: 10px;
            height: 40px;
            outline: 0;
            padding: 0 7px;
            font-weight: 500;
          }
        }
      }
      .date-mode {
        cursor: pointer;
        display: flex;
        gap: 10px;
      }
    }
    .temps {
      .top {
        .degree {
          margin: 20px 0;
          display: flex;
          justify-content: center;
          align-items: center;
          .main-deg {
            font-size: 12rem;
            margin: 0;
          }
          .deg-info {
            margin-top: 25px;
            align-self: center;
            .speed,
            .humid {
              display: flex;
              align-items: center;
              gap: 10px;
              font-size: 1.1rem;
            }
          }
        }
        .info {
          font-size: 2rem;
          font-weight: 600;
        }
      }
      .otherOptions {
        display: flex;
        gap: 20px;
        width: 800px;
        max-width: 100%;
        margin-top: 30px;
        overflow: hidden;
        transition: overflow 0.25s ease-in-out;
        overflow: scroll;

        &::-webkit-scrollbar {
          display: none;
        }
        .option {
          min-width: 120px;
          max-width: 128px;
          display: flex;
          flex-direction: column;
          padding: 3px;
          border-radius: 15px;
        }
      }
    }
    .days {
      border: 1px solid red;
      padding: 15px;
      .day {
        h1 {
          margin: 0 0 20px 0;
        }
        p {
          font-weight: 600;
        }
        .condition {
          color: gray;
        }
        width: fit-content;
        border-radius: 6px;
        padding: 15px;
      }
    }
  }

  .forcasts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 40%;

    .greeting {
      width: 340px;
      .greet {
        font-size: 2.5rem;
      }
      .temps {
        display: grid;
        .degree {
          margin: 20px 0;
          display: flex;
          justify-content: center;
          align-items: center;
          .deg {
            font-size: 3em;
            margin: 0;
          }
          .info {
            .speed,
            .humid {
              display: flex;
              align-items: center;
              gap: 10px;
              font-size: 14px;
              svg {
                width: 20px !important;
              }
            }
          }
        }
      }
    }
    .forcast {
      width: fit-content;
      .days {
        ul {
          list-style: none;
          padding: 0;
          display: flex;
          gap: 20px;
          width: 300px;
          max-width: 100%;
          margin-top: 30px;
          overflow: hidden;
          transition: overflow 0.25s ease-in-out;
          overflow: scroll;

          &::-webkit-scrollbar {
            display: none;
          }
          .day {
            min-width: 100px;
            border: 1px solid #000;
            border-radius: 6px;
            padding: 15px;
            h1 {
              margin: 0 0 20px 0;
            }
            p {
              font-weight: 600;
            }
            .condition {
              color: gray;
            }
          }
        }
      }
    }
  }
  select {
    background: transparent;
    border: 0;
  }
}

@media (max-width: 800px) {
  main {
    padding: 0 !important;
  }
  .main {
    flex-direction: column;
    border-radius: 0;
    .weather {
      width: 100%;
    }
    .forcasts {
      max-width: 100% !important;
      overflow: hidden;
      .greeting,
      .forcast {
        width: 100%;
        ul {
          width: 800px !important;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .main {
    .weather {
      .degree {
        .main-deg {
          font-size: 7rem !important;
        }
        .deg-info {
          svg {
            width: 20px !important;
          }
        }
      }
      .info {
        font-size: 1.3rem !important;
      }
    }
    .forcasts .greeting {
      .time {
        margin: 0;
      }
      .temps .degree {
        margin: 0;
        .deg {
          font-size: 5rem;
        }
      }
    }
  }
}
.load {
  border: 7px solid rgb(216, 32, 216);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border-bottom: 7px solid #fff;
  border-top: 7px solid #fff;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
